/********
 * PINK *
 ********/

body {
	background-color: #F0438C;
	color: #292f33
}

#close-btn {
	color: #292f33
}

ul.tabs li {
	background-color: #F0438C
}

ul.tabs li.current {
	background: #F9B8D2
}

.tab-content {
	background: #FFF;
	border: solid 4px #F9B8D2
}

#startproxy {
	background: #F9B8D2
}

#clear-logs {
	color: #292f33
}

ul.ModulesList li {
	background-color: #F9B8D2
}

::-webkit-scrollbar-track {
	background: #F0438C
}

::-webkit-scrollbar-thumb {
	background: #F9B8D2
}

#Config>div {
	background-color: #F9B8D2
}